<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.backend.dao.ChatListDAO">
    <insert id="insertChatList" parameterType="com.ict.backend.vo.ChatListVO">
        insert into chat_list_tbl values(#{chatlist_url}, #{chat_title}, #{userid}, #{chat_content}, ${chatlist_type}, ${chatlist_headcount}, ${chatlist_img})
    </insert>
    <select id="selectOpenChatList" resultType="com.ict.backend.vo.ChatListVO">
        select chatlist_url, chat_title, ut.usernick, ut.userprofile, chat_content, chatlist_type, chatlist_headcount, it.image_url  from chat_list_tbl clt join image_tbl it on clt.chatlist_img=it.image_no join user_tbl ut on clt.userid=ut.userid where clt.chatlist_type=1;
    </select>
    <select id="selectChatContent" resultType="com.ict.backend.vo.ChatVO">
        select ut.userid, ut.userprofile, ut.usernick, cct.chat_content, cct.chat_date, cct.content_id from chat_content_tbl cct
        join user_tbl ut on ut.userid=cct.userid where cct.chatlist_url=#{param1} order by cct.chat_date;
    </select>
    <insert id="insertChatEnter">
        insert ignore into chat_user_list(chatlist_url, userid) values(chatlist_url, usreid);
    </insert>
</mapper>    