<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.backend.dao.CommentReplyDAO">
    <!-- 대댓글 저장 -->
    <insert id="saveReply" parameterType="com.ict.backend.vo.CommentReplyVO">
        <if test="tag_usernick==''">
            INSERT INTO reply_comment_tbl (userid, comment_no, reply_content)
            VALUES (#{userid}, #{comment_no}, #{reply_content})
        </if>
        <if test="tag_usernick!=''">
            INSERT INTO reply_comment_tbl (userid, comment_no, reply_content, tag_usernick)
            VALUES (#{userid}, #{comment_no}, #{reply_content}, #{tag_usernick})
        </if>
    </insert>

    <!-- 특정 댓글에 대한 대댓글 목록 조회 -->
    <select id="getReplies" parameterType="int" resultType="com.ict.backend.vo.CommentReplyVO">
        SELECT c.*, it.image_url as writerImage, ut.usernick FROM reply_comment_tbl c
        join user_tbl ut on c.userid=ut.userid
        left join image_tbl it on ut.userprofile=it.image_no
        WHERE c.comment_no = ${param1}
        AND c.active_state = 1
    </select>

    <!-- 대댓글 수정 -->
    <update id="updateReply" parameterType="com.ict.backend.vo.CommentReplyVO">
        UPDATE reply_comment_tbl
        SET reply_content = #{reply_content}, edit_date = NOW(), edit_user = #{edit_user}
        WHERE reply_no = ${reply_no}
    </update>

    <!-- 대댓글 삭제 -->
    <update id="deleteReply" parameterType="int">
        update reply_comment_tbl set active_state=0 WHERE reply_no = #{reply_no}
    </update>
</mapper>