<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.backend.dao.CommunityDAO">
    <!-- 게시글 리스트 조회 쿼리 -->
    <select id="getCommunityList" resultType="com.ict.backend.vo.CommunityVO">
        select ct.community_no, ct.userid, it.image_url as userprofile, community_title, community_content, count(clt.like_date) community_like, community_writedate, community_img, hit, ct.edit_date, ct.edit_state, ct.edit_user, ct.active_state, loc, category, privacy,
        exists(select * from community_like_tbl clt2 where clt2.userid=#{param1} and clt2.community_no=ct.community_no) like_state
        from community_tbl ct
        left outer join community_like_tbl clt on ct.community_no=clt.community_no
        left JOIN community_image_tbl i ON ct.community_img = i.image_no
        join user_tbl ut on ct.userid=ut.userid
        left join image_tbl it on ut.userprofile=it.image_no
        where ct.community_no not in (select rt.report_tblno from report_tbl rt where rt.report_userid=#{param1} and rt.report_tblname=2)
        group by ct.community_no
        ORDER BY community_writedate DESC
    </select>
    <insert id = "createCommunity" parameterType="com.ict.backend.vo.CommunityVO">
        INSERT INTO community_tbl (userid, community_title, community_content, community_img, loc, category, privacy)
        VALUES (#{userid}, #{community_title}, #{community_content}, #{community_img}, #{loc}, #{category}, #{privacy})
    </insert>
    <select id="getCommunityView" resultType="com.ict.backend.vo.CommunityVO">
        SELECT * FROM community_tbl WHERE community_no = #{community_no}
    </select>
    <update id="increaseHit" parameterType="com.ict.backend.vo.CommunityVO">
        UPDATE community_tbl
        SET hit = hit + 1
        WHERE community_no = #{community_no}
    </update>
    <select id="getTopViewedPosts" resultType="com.ict.backend.vo.CommunityVO">
        SELECT * FROM community_tbl
        ORDER BY hit DESC
        LIMIT 3
    </select>
    <update id="editCommunity" parameterType="com.ict.backend.vo.CommunityVO">
        UPDATE community_tbl
        SET community_content = #{community_content},
        community_title = #{community_title},
        community_img = #{community_img},
        loc = #{loc},
        privacy = #{privacy},
        edit_date = NOW(),
        edit_user = #{edit_user}
        WHERE community_no = #{community_no}
    </update>
    <delete id="deleteCommentsByCommunityNo" parameterType="int">
        DELETE FROM community_comment_tbl WHERE community_no = #{community_no}
    </delete>
    <delete id="deleteCommunity" parameterType="int">
        delete from community_tbl where community_no = #{community_no}
    </delete>
    <!-- 좋아요 있는지 확인 -->
    <select id="isLiked" parameterType="com.ict.backend.vo.CommunityLikeVO" resultType="int">
        SELECT COUNT(*)
        FROM community_like_tbl
        WHERE community_no = #{community_no} AND userid = #{userid}
    </select>
    <!-- 좋아요 추가 -->
    <insert id="likeCommunity" parameterType="CommunityLikeVO">
        INSERT INTO community_like_tbl (community_no, userid)
        VALUES (#{community_no}, #{userid})
    </insert>
    <!-- 좋아요 삭제 -->
    <delete id="unlikeCommunity" parameterType="CommunityLikeVO">
        DELETE FROM community_like_tbl
        WHERE community_no = #{community_no} AND userid = #{userid}
    </delete>
<!--     좋아요 수 조회 -->
    <select id="getLikesCount" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM community_like_tbl
        WHERE community_no = #{community_no}
    </select>
</mapper>