<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.backend.dao.CommentDAO">

    <!-- 댓글 추가 -->
    <insert id="addComment" parameterType="com.ict.backend.vo.CommentVO">
        INSERT INTO community_comment_tbl (comment_no, userid, community_no, comment_content, comment_writedate)
        VALUES (#{comment_no}, #{userid}, #{community_no}, #{comment_content}, NOW())
    </insert>

    <!-- 특정 게시글의 댓글 조회 -->
    <select id="getComments" parameterType="int" resultType="com.ict.backend.vo.CommentVO">
        SELECT cct.*, ut.usernick, it.image_url as writerImage, count(rct.userid) as reply_cnt
        FROM community_comment_tbl cct
        join user_tbl ut on cct.userid=ut.userid
        left join image_tbl it on ut.userprofile=it.image_no
        left join reply_comment_tbl rct on cct.comment_no=rct.comment_no
        AND rct.active_state = 1
        WHERE community_no = #{community_no}
        AND cct.active_state = 1
        group by cct.comment_no
        ORDER BY comment_no DESC
    </select>

    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="com.ict.backend.vo.CommentVO">
        UPDATE community_comment_tbl
        SET comment_content = #{comment_content},
        edit_date = NOW()
        WHERE comment_no = #{comment_no}
    </update>

    <!-- 댓글 삭제 -->
    <update id="deleteComment" parameterType="int">
        update community_comment_tbl set active_state=0 WHERE comment_no = #{comment_no}
    </update>

</mapper>