<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.backend.dao.CommunityDAO">
    <!-- 게시글 리스트 조회 쿼리 -->
    <select id="getCommunityList" resultType="com.ict.backend.vo.CommunityVO">
        SELECT * FROM community_tbl
        ORDER BY community_writedate DESC
    </select>
    <insert id = "createCommunity" parameterType="com.ict.backend.vo.CommunityVO">
        INSERT INTO community_tbl (userid, community_title, community_content, community_img, loc, category, privacy)
        VALUES (#{userid}, #{community_title}, #{community_content}, #{community_img}, #{loc}, #{category}, #{privacy})
    </insert>
    <select id="getCommunityView" resultType="com.ict.backend.vo.CommunityVO">
        SELECT * FROM community_tbl WHERE community_no = #{community_no}
    </select>
    <update id="editCommunity" parameterType="com.ict.backend.vo.CommunityVO">
        UPDATE community_tbl
        SET community_content = #{community_content},
        community_title = #{community_title},
        community_img = #{community_img},
        loc = #{loc},
        privacy = #{privacy},
        edit_date = NOW(),
        userid = #{userid}
        WHERE community_no = #{community_no}
    </update>
    <delete id="deleteCommentsByCommunityNo" parameterType="int">
        DELETE FROM community_comment_tbl WHERE community_no = #{community_no}
    </delete>
    <delete id="deleteCommunity" parameterType="int">
        delete from community_tbl where community_no = #{community_no}
    </delete>
</mapper>