<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.backend.dao.ReportDAO">
<insert id="insertReport">
    <if test="report_tblname==1 or report_tblname == 2">
        insert into report_tbl(report_userid, reported_userid, report_content, report_tblname, report_tblno, report_type, report_reason)
        values (#{report_userid}, #{reported_userid}, #{report_content}, ${report_tblname}, ${report_tblno}, ${report_type}, #{report_reason});
    </if>
    <if test="report_tblname==3">
        insert into report_tbl(report_userid, reported_userid, report_content, report_tblname, report_tbluuid, report_type, report_reason)
        values (#{report_userid}, #{reported_userid}, #{report_content}, ${report_tblname}, #{report_tbluuid}, ${report_type}, #{report_reason});
    </if>
</insert>
    <select id="selectBlockUuid">

    </select>
</mapper>
