<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.backend.dao.UserDAO">
    <select id = "test" resultType="com.ict.backend.vo.MemberVO">
        select * from user_tbl limit 1
    </select>
<!--    <select id="findByUserid" parameterType="String" resultType="com.ict.backend.vo.MemberVO">-->
<!--        SELECT * FROM user_tbl WHERE userid = #{userid}-->
<!--    </select>-->
    <select id="findByUserid" parameterType="String" resultType="com.ict.backend.vo.MemberVO">
        SELECT u.*, CASE a.authority
            WHEN 1 THEN 'ADMIN' ELSE 'USER' END AS role
        FROM user_tbl u
        left JOIN admin_grade_tbl a ON u.userid = a.userid where u.userid = #{userid};
    </select>

    <select id="existsByUserid" parameterType="String" resultType="Boolean">
        SELECT EXISTS(SELECT 1 FROM user_tbl WHERE userid = #{userid})
    </select>

    <insert id="saveUser" parameterType="com.ict.backend.vo.MemberVO">
        INSERT INTO user_tbl(userid, userpwd, username, usernick, usertel, useraddr, zipcode, addrdetail, userbirth, gender) VALUES(#{userid}, #{userpwd}, #{username}, #{usernick}, #{usertel}, #{useraddr}, #{zipcode}, #{addrdetail}, #{userbirth}, #{gender})
    </insert>

    <select id="usernickcheck" resultType="int">
        select count(*) from user_tbl where usernick = #{param1}
    </select>
    <select id="useridcheck" resultType="int">
        select count(*) from user_tbl where userid = #{param1}
    </select>
    <select id ="getuserpwd">
        select userpwd from user_tbl where userid = #{userid};
    </select>
    <select id = "getUserInfo" resultType="com.ict.backend.vo.MemberVO">
        SELECT userid, usernick, username, DATE_FORMAT(userbirth, '%Y.%m.%d') AS userbirth, usertel, useremail, useraddr, zipcode, addrdetail, gender
        FROM user_tbl
        WHERE userid = #{userid}
    </select>
<!--    <select id = "getUserInfo" resultType="com.ict.backend.vo.MemberVO">-->
<!--        SELECT-->
<!--        userid, usernick, username, userbirth, usertel, useremail, useraddr, zipcode, addrdetail, image_url AS userprofile-->
<!--        FROM user_tbl u-->
<!--        JOIN image_tbl i ON u.userprofile = i.image_no-->
<!--        WHERE u.userid = #{userid};-->
<!--    </select>-->
    <update id = "updateUserInfo">
        UPDATE user_tbl SET
        usernick = #{usernick}, userbirth = #{userbirth}, usertel = #{usertel}, useremail = #{useremail}, useraddr = #{useraddr}, zipcode = #{zipcode}, addrdetail = #{addrdetail}
        where userid = #{userid}
    </update>
    <update id="changepassword">
        UPDATE user_tbl SET userpwd = #{userpwd} where userid = #{userid}
    </update>

    <select id="userprofile" resultType="String">
        SELECT i.image_url
        FROM user_tbl u
        LEFT JOIN image_tbl i ON u.userprofile = i.image_no
        WHERE u.userid = #{userid};
    </select>

    <insert id="uploadImage" useGeneratedKeys="true" keyProperty="image_no">
        INSERT INTO image_tbl (image_url) VALUES (#{image_url})
    </insert>

    <update id="updateprofile">
        UPDATE user_tbl SET userprofile = #{param1} WHERE userid = #{param2}
    </update>
    <select id="userprofileno" resultType="int">
        select userprofile from user_tbl  where userid = #{parma1}
    </select>
    <update id = "updateimageurl">
        UPDATE image_tbl set image_url = #{param1} where image_no = #{param2}
    </update>

</mapper>