.noticeBody{
    max-width: 1920px;
    padding-top: 10px;
    padding-left: 210px;
    padding-right: 10px;
    margin: 0 auto;
    color:#f1f1f1;
}
.noticeBody .insert_form{
    background-color: #1C1C20;
    border-radius: 5px;
    margin: 50px auto;
    padding: 20px;
    width: 60%;
    min-width: 600px;
}
.noticeBody .insert_form input[type="text"]{
    border-radius: 4px;
    width: 100%;
    height: 35px;
    background: transparent;
    border: 1px solid #48d1cdea;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    outline: 0 none;
    color: #f1f1f1;
}
.noticeBody .insert_form textarea{
    border-radius: 4px;
    width: 100%;
    min-height: 300px;
    background: transparent;
    border: 1px solid #48d1cdea;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    outline: 0 none;
    resize: none;
    color: #f1f1f1;
}

.noticeBody .insert_form .formbtns{
    text-align: center;
}

.noticeBody .insert_form .formbtns button{
    border-radius: 4px;
    width: 150px;
    height: 35px;
    background: transparent;
    border: 1px solid #48d1cdea;
    background-size: 20px;
    border-radius: 4px;
    outline: 0 none;
    color: #f1f1f1;
}

.adminBody select, .adminBody input{
  width: 120px;
  height: 35px;
  background: #1C1C20;
  border: 1px solid #48d1cdea;
  background-size: 20px;
  border-radius: 4px;
  outline: 0 none;
  color: #f1f1f1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
}