
/* qnaAns 바디*/
.QnaAnsWriteBody, .RepAnsWriteBody{
    color: rgb(199, 197, 197);
}
/* qnaAns 타이틀 */
.QnaAnsWriteTitle{
    margin: 10px auto;
    text-align: center;
}
/* qnaAns 테이블 css */
.QAWTable{
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}
/* qnaAns 테이블 타이틀 td css */
.QAWTtitle{
    text-align: center;
    width: 100px;
    font-size: 1.05em;
    font-weight: 700;
}
/* css */
.QAWContent_4{
    height: 120px;
    max-width: 400px;
    overflow-y: scroll;
    padding: 10px;
    resize: vertical;
}
/* qnaAns 이미지css */
.ansImg{
    max-width: 100px;
    width: fit-content;
    transition: transform 0.3s ease; 
}
.ansImg:hover {
    transform: scale(1.2); /* 호버 시 20% 크게 */
    z-index: 1; /* 이미지가 위에 보이도록 z-index 추가 */
  }
/* 폼 css */
.QAWForm, .RAWForm{
    margin: 10px;
    text-align: center;
}
/* 폼 textarea css */
.QAWContent, .RAWContent{
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    resize: none;
    padding: 10px;
}
/* 폼 submit 버튼 */
.qnaWrite-btn{
    padding: 10px;
    background-color: #00FF9C;
    color: #2E5B2B;
    border:none;
    border-radius: 5px;
    font-weight: 900;
}

/*---------- 신고처리 폼 css ---------*/
.reportViewTable{
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}
