.AdminRepBody{
    max-width: 1920px;
    padding-top: 10px;
    padding-left: 210px;
    padding-right: 10px;
    margin: 0 auto;
    color:white;
  }

  .AdminRepTable {
    width: 100%;
    margin: 20px 0;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

.AdminRepTable th,
.AdminRepTable td {
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    border: 1px solid #444;
}

.AdminRepTable th {
    background-color: #343a40; /* Dark header background */
    color: white; /* Text color */
}

.AdminRepTable tr:nth-child(even) {
    background-color: #2c2f33; /* Alternate row color */
}

.AdminRepTable tr:nth-child(odd) {
    background-color: #212529; /* Default row color */
}

.AdminRepTable input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.AdminRepTable tbody tr:hover {
    background-color: #495057; /* Hover color */
}

.AdminRepTable td {
    color: #f8f9fa;
}

.AdminRepTable .status-active {
    color: green;
    font-weight: bold;
}

.AdminRepTable .status-inactive {
    color: red;
    font-weight: bold;
}

.AdminRepTable .no-results {
    text-align: center;
    font-size: 18px;
    color: #f8d7da;
    background-color: #343a40;
}
.report_con_area{
    height: 50px;
    max-width: 200px;
    overflow-y: scroll;
    padding: 5px;
    margin: 0 auto;
    vertical-align: middle;
}