.AdminComBody{
    max-width: 1920px;
    padding-top: 10px;
    padding-left: 210px;
    padding-right: 10px;
    margin: 0 auto;
    color:#f1f1f1;
  }

.AdCom-tapMenu button{
  background-color: rgba(240, 248, 255, 0);
  color: rgb(156, 155, 155);
  border: none;
  font-size: 1.2em;
}