.home{
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  background-color: #1C1C20; 
  color: #f0f0f0;
  margin: 0 auto;
  justify-content: center; 
  align-items: center; 
  width: 1920px;
}

.home .banner {
  width: 100%;
  height: 700px; 
  overflow: hidden; 
  position: relative; 
}

.home .banner-images {
  display: flex;
  width: 700%; 
  transition: transform 1s ease-in-out; 
}

.home .banner-image {
  width: 100%; 
  height: 700px; 
  object-fit: cover;
}

.home .banner-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.home .banner-indicators span {
  margin: 0 5px;
  cursor: pointer;
  font-size: 20px;
  color: #f0f0f0;
  opacity: 0.5;
  transition: opacity 0.3s; 
}

.home .banner-indicators .active {
  opacity: 1; 
}

.movie-list {
  max-width: 1840px;
  min-width: 920px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.movie-list .category_list {
  margin-top: 60px;
  width: 100%;
}

.movie-list h3 {
  color: #f0f0f0;
  font-size: 1.6em;
  padding-left: 10px;
  font-weight: bold;
}

.movie-list .slick-list {
  width: 100%;
  padding: 0; 
  margin: 0;
  overflow: hidden;
}

.movie-list .movie-item {
  flex: 0 0 calc(100% / 8 - 20px);
  padding: 0 10px;
  box-sizing: border-box;
}

@media (max-width: 1380px) {
  .movie-list .movie-item {
    flex: 0 0 calc(100% / 6 - 20px); 
  }
}

@media (max-width: 920px) {
  .movie-list .movie-item {
    flex: 0 0 calc(100% / 4 - 20px); 
  }
}

.movie-list .slick-track {
  display: flex;
  align-items: center;
}

.movie-list .slick-slide {
  display: flex;
  justify-content: center; /* 슬라이드를 가운데 정렬 */

}

.movie-list .slidPoster {
  width: 100%; 
  height: auto;
  object-fit: cover; 
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-list .slidPoster:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.movie-list .slick-prev,
.movie-list .slick-next {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.movie-list .slick-prev {
  left: 10px;
}

.movie-list .slick-next {
  right: 10px;
}
