.movie-list-wrapper {
  background-color: #1C1C20; 
  display: flex;
  justify-content: center; 
  padding-top: 40px;
}

.movie-list-container {
  max-width: 1200px;
  width: 100%; 
}
.movie-list-container > h2 {
  color: #f0f0f0;
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f0f0;
}
.movie-list-title {
  color: #f0f0f0;
  text-align: center;
  margin-bottom: 20px;
}
.row{
  /* border-top: 1px solid #f0f0f0; */
  padding-top: 30px;
  

}
.movie-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  /* background-color: #333; */
  /* white-space: nowrap;    
  overflow: hidden;    
  text-overflow: ellipsis;   */
  height: 320p;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: 250px;
  object-fit: cover; 
  
}

.movie-info {
  padding: 10px;
  text-align: center;
}

.movie-title, .movie-subtitle, .movie-date {
  color: white; 
}

.movie-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: -webkit-box; /* 플렉스 박스 대신 사용 */
  -webkit-box-orient: vertical; /* 세로 방향으로 정렬 */
  -webkit-line-clamp: 2; /* 최대 두 줄 표시 */
  overflow: hidden; /* 넘치는 내용 숨기기 */
  text-overflow: ellipsis; /* 말줄임표 표시 */
  white-space: normal; /* 줄바꿈 허용 */
}


