.chatList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1C1C20;;
  margin:0;
  width: 100%;
}
.chatList .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chatList .chat-search{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2d31;
  max-width: 1200px;
  width: 50%;
  height: 40px;
  border-radius: 50px;
}
.chatList .chat-tab{
  position: absolute;
  top: -50px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.chatList .chat-tab>div{
  color: #f1f1f1;
  padding: 10px;
}
.chatList .chat-tab>.tab_focus{
  border-bottom: 1px solid #f1f1f1;
}
.chatList .chat-search>input{
  width:90%;
  border-width: 0;
  background-color: #2d2d31;
  color: #f1f1f1;
}
.chatList .chat-search>input{
  outline: none;
}
.chatList .search_icon{
  color: #1d1d20;
}
.chatList .chat_create{
  margin-top: 30px;
  margin-left: auto;
  margin-right: 100px;
  height: 40px;
  padding: 10px;
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #B6FFA1;
  color: #1C1C20;;
  text-align: center;
}

.chatList .room_cancle{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatList .room{
  color: #f1f1f1;;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  padding: 30px 40px;
  width: 500px;
  height: 400px;
  background-color: #1C1C20;

}
.chatList .room >div>input{
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  background-color: #3e3e44;
  color: #f1f1f1;
}

.chatList.room_show{
  display: flex;
}
.chatList .room_hide{
  display: none;
}

.chatList .chatList_list{
  position: relative;
  width: 100%;
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(290px, 24%));
  gap: 10px;

}
.chatList .chat_box{
  width: 100%;
  height: 250px;
  
}
.chatList .chat_box-img{
  background-color: beige;
  width: 100%;
  height: 170px;
}
.chatList .chat_box_info{
  color: #f1f1f1;
}