.chatList{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C1C20;;
  margin:0;
  width: 100%;
  min-height: 100vh;
}
.chatList .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chatList .chat-search{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272731;
  max-width: 1200px;
  width: 50%;
  height: 40px;
  border-radius: 50px;
}
.chatList .chat-tab{
  position: absolute;
  top: -60px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  
}
.chatList .chat-tab>div{
  cursor: pointer;
  color: #f1f1f1;
  padding: 10px 20px;
  border-bottom: 0px;
  transition: border 0.5s;
  border-bottom: 2px solid #444946;
}
.chatList .chat-tab>.tab_focus{
  width: auto;
  border-bottom: 2px solid #48d1cdea;

}
.chatList .chat-search>input{
  width:90%;
  border-width: 0;
  background-color: #272731;
  color: #f1f1f1;
}
.chatList .chat-search>input{
  outline: none;
}
.chatList .search_icon{
  color: #1d1d20;
}
.chatList .chat_create{
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 100px;
  height: 40px;
  padding: 10px;
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #48d1cdea;
  border: 1px solid #48d1cdea;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
  z-index: 1;
}
.chatList .chat_create:hover{
  background-color: #48d1cdea;
  color: #f1f1f1;
}
.chatList .room_window {
  width: 100vw;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.chatList .null_create{
  height: 40px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 100px;
  height: 40px;
  padding: 10px;
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #f1f1f1;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
}

.chatList .room_cancle{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatList .room{
  color: #f1f1f1;;
  position: relative;
  border-radius: 30px;
  padding: 30px 40px;
  width: 600px;
  height: 500px;
  background-color: #1C1C20;


}
.chatList .room .chat-search input{
  width: 80%;
}
.chatList .room >div>input{
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  background-color: #3e3e44;
  color: #f1f1f1;
}

.chatList .room_show{
  display: flex;
  z-index: 1;
}
.chatList .room_hide{
  display: none;
}

.chatList .chatList_list{
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(290px, 24%));
  gap: 10px;

}
.chatList .solo{
  display: grid;
  gap: 10px 20px;
}

.chatList .chat_box{
  width: 100%;
  height: 250px;
  cursor: pointer;
}
.chatList .solo .solochat{
  width: 300px;
  height: auto;
  background-color: #3e3e44;
  padding: 10px 20px;
  border-radius: 20px;
}
.chatList .solo .solochat>div{
  display: flex;
}
.chatList .solo .sub_content{
  color: #cdcdd6;
}
.chatList .chat_box-img{
  width: 100%;
  height: 170px;
}
.chatList .solo .chat_box-img{
  width: 60px;
  height: 70px;
}
.chatList .solo .chat_box-img img{
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 18px;
}
.chatList .open .chat_box-img img{
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.chatList .chat_box_info{
  color: #f1f1f1;
}
.chatList .chat_box_info .sub_content{
  color: #b8b8c5;
}
.chatList .debate_img{
  margin-top: 10px;
} 
.chatList .chat_box_info{
  margin: 0px 10px;
}

.chatList .movie_list{
  display: flex;
  align-items: center;
  position: relative;
  height: 190px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 10px 0 20px 0;  
  background-color: rgb(21, 21, 27);
  border-radius: 10px;
}
.chatList .movie_list::-webkit-scrollbar{
  height: 10px;
  background-color: #13131a;
  border-radius: 10px;
}
.chatList .movie_list::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바의 색상 */
  border-radius: 5px; /* 스크롤바의 둥근 모서리 */
}
.chatList .movie_list::-webkit-scrollbar-thumb {
  background: #888; /* 핸들의 색상 */
  border-radius: 5px; /* 핸들의 둥근 모서리 */
}

/* 핸들에 마우스 오버 시 스타일 */
.chatList .movie_list::-webkit-scrollbar-thumb:hover {
  background: #555; /* 핸들 색상 변화 */
}
.chatList .room>button{
  border: 0;
  width: 170px;
  height: 40px;
  border-radius: 10px;
  background-color: #48d1cdea;
  color: #f1f1f1;
}
.chatList .room>button:disabled{
  background-color: transparent;
  border: 1px solid #48d1cdea;
  color: #48d1cdea;
}
.chatList .movie_box{
  margin: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chatList .movie_box{
  margin-top: 70px;
  transition: transform 0.3s;
}
.chatList .focus{
  border-radius: 2px;
  transform: scale(1.3);
}
.chatList .movie_img img{
    width: 120px;
    height: 80px;
    border-radius: 2px;
}

.chatList .movie_title{
  margin-top: 5px;
}

.chatList .list_notice{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  color: #4a4a52;
}

.chatList .chatList_list:has(.list_notice){
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.chatList .movie_list .list_notice{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: #4a4a52;
}
.chatList .room_info{
  display: flex;
  justify-content: space-between  ;
}
.chatList .movie_title{
  font-size: 1.2em;
}
.chatList .room_title{
  color: #c4c4c4;
}