.chatList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.chatList .chat-search{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: green;
  max-width: 1200px;
  width: 50%;
  height: 40px;
  border-radius: 50px;
  padding: 0px 30px;
}
.chatList .chat-tab{
  display: flex;
  height: 50px;
}
.chatList .chat-search>input{
  width:80%;
  border-width: 0;
  background-color: green;
}
.chatList .chat-search>input{
  outline: none;
}
.chatList .chat_create{
  margin-left: auto;
  margin-right: 100px;
  height: 20px;
  padding: 10px;
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  color: white;
  text-align: center;
}

.chatList .room_menu{
  padding: 0 10px;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 0px;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  width: 100px;
  display: none;
}
.chatList .menu_show{
  display: flex;
}
.chatList .menu_hide{
  display: none;
}
.chatList .room_window
.chatList .room_menu>div{
  height: 20px;
  padding: 10px;
}
.chatList .room_cancle{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatList .room{
  color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  padding: 30px 40px;
  width: 500px;
  height: 400px;
  background-color: aliceblue;
}
.chatList.room_show{
  display: flex;
}
.chatList .room_hide{
  display: none;
}

.chatList .chatList_list{
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(290px, 24%));
  gap: 10px;

}
.chatList .chat_box{
  width: 100%;
  height: 250px;
  background-color: gray;
}
.chatList .chat_box-img{
  background-color: beige;
  width: 100%;
  height: 170px;
}