.chatting_room{
    color: white;
    display: flex;  
}
.chatting_room .chatting_box{
    width: 60%;
}
.chatting_room .chatting_sub{
    width: 40%;
}
.chatting_room .chatting_input{
    display: flex;
    width: 100%;
}
.chatting_room .myText,
.chatting_room .anotherText{
    display: flex;
    align-items: center;
    margin: 7px 0;
}
.chatting_room .chat_profile{
    margin: 10px;
}
.chatting_room .chat_profile > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.chatting_room .myText{
    width: 100%;
    text-align: right;
    align-self: flex-end;
}
.chatting_room .chatting_list{
    display: flex;
    flex-direction: column;
    height: 75vh;
    overflow-y: auto;
    padding: 0 20px;
}   
.chatting_room .chatting_list::-webkit-scrollbar{
    width: 10px;
}
.chatting_room .chatting_list::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바의 색상 */
    border-radius: 5px; /* 스크롤바의 둥근 모서리 */
}
.chatting_room .chatting_list::-webkit-scrollbar-thumb {
    background: #888; /* 핸들의 색상 */
    border-radius: 5px; /* 핸들의 둥근 모서리 */
}

/* 핸들에 마우스 오버 시 스타일 */
.chatting_room .chatting_list::-webkit-scrollbar-thumb:hover {
    background: #555; /* 핸들 색상 변화 */
}
.chatting_room .myText .chat_text_box{
    width: 100%;
}
.chatting_room .chat_text{
    margin: 0 5px;
}
.chatting_room .myText .chat_info{
    display: flex;
    justify-content: right;
    margin-left: 50%;
    align-items: end;
    text-align: right;

}

.chatting_room .chat_text{
    padding: 5px 10px;
    min-height: 34px;
    background-color: cadetblue;
    border-radius: 5px;
}
.chatting_room .chat_date{
    font-size: 0.95em;
}

.chatting_room .anotherText{

}
.chatting_room .anotherText .chat_info{
    display: flex;
    justify-content: left;
    align-items: end;
    text-align: left;
}
.chatting_room ul{
    margin: 0;
}
.chatting_room .chatting_input input{
    width: 100%;
    height: 40px;
}
.chatting_room .chat_sub_info{
    display: flex;
    align-items: end;
}
.chatting_room .anotherText .chat_report{
    display: none;
}

.chatting_room .anotherText .chat_info:hover .chat_report{
    display: block;
}
.chatting_room .anotherText .chat_info:hover .chat_date{
    display: none;
}
.chatting_room .doorway,
.chatting_room .chatting_day{
    align-self: center;
}



/* 신고기능 css */
.chatting_room .report_window{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center; 
    top: 0px;
    left: 0px;
}
.chatting_room .report_show{
    display: flex;
}
.chatting_room .report_hide{
    display: none;
}
.chatting_room .report_window .report_close{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #5555555b;
    z-index: 1;
}
.chatting_room .report_window .chatting_report{
    color: black;
    background-color: aliceblue;
    padding: 50px;
    z-index: 2;
    border-radius: 10px;
}