.chatting_room{
    color: white;
    display: flex;
    flex-direction: column;
}
.chatting_room .chatting_box{
    width: 100%;
    height: 100vh;
}
.chatting_room .chatting_sub{
    width: 40%;
}
.chatting_room .chatting_input{
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
    z-index: 0;
}
.chatting_room .chatting_input2{
    height: 40px;
}
.chatting_room .myText,
.chatting_room .anotherText{
    display: flex;
    align-items: center;
    margin: 7px 0;
}
.chatting_room .chat_profile{
    margin: 10px;
}
.chatting_room .chat_profile > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.chatting_room .myText{
    width: 100%;
    text-align: right;
    align-self: flex-end;
}
.chatting_room:has(html)::-webkit-scrollbar{
    display: none !important;
}
.chatting_room .chatting_list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 110px);
    overflow-y: auto;
}
.chatting_room .room_title{
    font-size: 19px;
}
.chatting_room .chatting_list::-webkit-scrollbar{
    width: 10px;
}
.chatting_room .chatting_list::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바의 색상 */
    border-radius: 5px; /* 스크롤바의 둥근 모서리 */
}
.chatting_room .chatting_list::-webkit-scrollbar-thumb {
    background: #888; /* 핸들의 색상 */
    border-radius: 5px; /* 핸들의 둥근 모서리 */
}

/* 핸들에 마우스 오버 시 스타일 */
.chatting_room .chatting_list::-webkit-scrollbar-thumb:hover {
    background: #555; /* 핸들 색상 변화 */
}
.chatting_room .myText .chat_text_box{
    width: 100%;
}
.chatting_room .chat_text{
    margin: 0 5px;
}
.chatting_room .myText .chat_info{
    display: flex;
    justify-content: right;
    margin-left: 50%;
    align-items: end;
    text-align: left;

}
.chatting_room .myText .chat_text{
    background-color: #B6FFA1;
    color: #c8c6e9;
}
.chatting_room .chat_text{
    padding: 5px 10px;
    min-height: 34px;
    border-radius: 5px;
}
.chatting_room .chat_date{
    font-size: 0.95em;
}

.chatting_room .anotherText{

}
.chatting_room .anotherText .chat_info{
    display: flex;
    justify-content: left;
    align-items: end;
    text-align: left;
}
.chatting_room ul{
    margin: 0;
}
.chatting_room .chatting_input input{
    width: 100%;
    height: 40px;
}
.chatting_room .chat_sub_info{
    display: flex;
    align-items: end;
}
.chatting_room .anotherText .chat_report{
    display: none;
}

.chatting_room .anotherText .chat_info:hover .chat_report{
    display: block;
}
.chatting_room .anotherText .chat_info:hover .chat_date{
    display: none;
}
.chatting_room .doorway,
.chatting_room .chatting_day{
    align-self: center;
}
.chatting_room .chat_header{
    position: fixed;
    top:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #00FF9C;
    padding: 15px 20px;
    z-index: 2;
}
.chatting_room .user_count{
    width: 40px;
}
.chatting_room .user_count:hover{
    color: #555;
}
.chatting_room header{
    height: 70px;
    padding: 15px 20px;
    width: 100%;
    background-color: gainsboro;
}
.chatting_room .schedule_icon{
    position: relative;
}
.chatting_room .menu_list{
    position: absolute;
    width: 120px;
    top: 30px;
    left: -90px;
    background-color: white;
    color: gray;
    
}
.chatting_room .menu_list>div{
    padding: 5px 10px;
    box-shadow: 0 0 1px rgb(0, 0, 0);
}
.chatting_room .menu_hide{
    display: none;
}
.chatting_room .menu_show{
    display: block;
}
.chatting_room .menu_list>div:hover{
    background-color: #e0e0e0;
}
.chatting_room .user_count{
    position: relative;
}
.chatting_room .user_list{
    position:absolute;
    width: 200px;
    top: 24px;
    background-color: #ffffff;
    color: gray;
    padding: 5px 10px;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
}

.chatting_room .user_info{
    display: flex;
    margin: 8px 0;
}
.chatting_room .user_info img{
    width: 40px;
    height: 40px;
    border-radius: 18px;
}

.chatting_room .user_list::-webkit-scrollbar{
    width: 8px;
}

.chatting_room .user_show{
    display: block;
    z-index: 100;
}
.chatting_room .user_hide{
    display: none;
}
.chatting_room .schedule_box{
    position: absolute;
    background-color: #1C1C20;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 1;
    flex-direction: column;
}
.chatting_room .schedule_btn{
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 8px     20px;
    border-radius: 50px;
    background-color: #555;
}
.chatting_room .schedule_show{
    display: flex;
}
.chatting_room .schedule_hide{
    display: none;
}
.chatting_room .schedule_list{
    
    overflow: auto;
    padding: 50px 0;
}
.chatting_room .schedule{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 100px;
}
.chatting_room .schedule:hover{
    background-color: #242429;
}

.chatting_room .schedule>*:nth-child(1){
    width: 10%; 
}
.chatting_room .schedule>*:nth-child(2){
    width: 60%; 
}
.chatting_room .schedule>*:nth-child(3){
    width: 30%; 
}
.chatting_room .schedule_icon{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 70%;
}
.chatting_room .schedule_info{
    font-size: 0.9em;
    
}
.chatting_room .schedule_voting{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.chatting_room .show{
    display: block;
}
.chatting_room .hide{

}
.chatting_room .schedule_voting .voting_box{
    display: flex;
    align-items: center;
}
.chatting_room .vote_user{
    margin-right: 8px;
}
.chatting_room .vote_user_info{
    display: flex;
}
.chatting_room .vote_user_info img{
    width: 40px;
    height: 40px;
}
.chatting_room .vote_yes_user{
    color: #d0effd;
}
.chatting_room .vote_no_user{
    color: #fde0d0;
}
.chatting_room .end_vote{
    display: flex;
    align-items: center;
}
.chatting_room .vote_btn{
    width: 100px;
    padding: 5px;
    background-color: #555;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
.chatting_room .yes_btn:hover {
    background-color: rgb(126, 201, 255) !important;
}
.chatting_room .no_btn:hover {
    background-color: rgb(255, 175, 129) !important;
}
.chatting_room .yes .yes_btn{
    background-color: rgb(126, 201, 255) !important;
}
.chatting_room .no .no_btn{
    background-color: rgb(255, 175, 129) !important;
}
.chatting_room .schedule_voting .voting_box>button{
    width: 100px;
    padding: 5px;
    background-color: #555;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    border: 0;
}
.chatting_room .schedule_voting>div:nth-child(1){

}
.chatting_room .schedule_voting>div:nth-child(2){

}


.chatting_room .schedule_create{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
}
.chatting_room .schedule_create_show{
    display: flex;
}
.chatting_room .schedule_create_hide{
    display: none;
}
.chatting_room .schedule_create_form{

    z-index: 3;
    color: black;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 10px;
}

.chatting_room .schedule_create_close{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #88888870;
    z-index: 2;
}

.chatting_room .voteWindow{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0px;
}
.chatting_room .vote_window_close{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #88888870;
    z-index: 2;
}
.chatting_room .vote_user_box{
    border-radius: 10px;
    background-color: aliceblue;
    padding: 50px;
    z-index: 3;
    color: #1C1C20;;
    
}
.chatting_room .vote_user_info img{
    border-radius: 13px;
}
.chatting_room .vote_user_info{
    margin: 5px;
    display: flex;
    align-items: center;
}
.chatting_room .vote_user_list{
    margin-top: 20px;
    overflow-y: auto;
    max-height: 110px;
}
.chatting_room .room_box{
    display: flex;
    align-items: center;
}
.chatting_room .room_info{
    margin-left: 10px;
}
.chatting_room .room_img{
    width: 40px;
    height: 40px;
}
.chatting_room .state_box{
    margin-top: 30px;
}
.chatting_room .list_notice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    color: #4a4a52;
}
.chatting_room .room_img img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 13px;
}
.chatting_input button{
    border: 0;
    width: 70px;
    background-color: #B6FFA1;
}
.chatting_input button:hover{
    background-color: #00FF9C;
}
.chatting_room .exit_window{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0px;
    z-index: 50;
}
.chatting_room .show{
    display: flex;
}
.chatting_room .hide{
    display: none;
}


/* 신고기능 css */
.chatting_room .report_window{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items: center; 
    top: 0px;
    left: 0px;
}
.chatting_room .report_show{
    display: flex;
}
.chatting_room .report_hide{
    display: none;
}
.chatting_room .report_window .report_close{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #5555555b;
    z-index: 1;
}
.chatting_room .report_window .chatting_report{
    color: #1C1C20;;
    background-color: aliceblue;
    padding: 50px;
    z-index: 2;
    border-radius: 10px;
}
