.QnABody, .QnAWriteBody{
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 1200px;
    color:white;
}
@media(max-width:577px){
    .QnABody, .QnAWriteBody{
        min-width: 577px;
    }
}
/* 상단 info css */
.totalRecord-info{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.tr-right-info{
    display: flex;
    font-size: 1.2em;
}
.tr-right-info div{
    color:orange
}
/* 테이블 css */
.QnaTable td, .QnaTable th{
    background-color: transparent !important;
    border-collapse : collapse !important;
    font-size: 1em;
    border-bottom: none;
    text-align: center;
}
.QnaTable{
    white-space:nowrap;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}
.QnaTable thead th{
    font-size: 1.1em;
    font-weight:bolder;
}

/* 게시글 제목 css */
.qna_ht_th{
    display: flex;
}
.qna_ht{
    color: red;
}
.qna_ht_th a:link, .qna_ht_th a:hover,.qna_ht_th a:visited {
    color: white;
}
.qna_pwt{
    cursor: pointer;
}

/* 검색키 css */
.qnaSearchSelect{
    appearance: none;
    width: 100px;
    height: 35px;
    font-size: 1em;
    padding: 0 10px;
    margin-right: 10px;
    white-space:nowrap;

}
/* 검색창 css */
.searchForm input[type="text"]{
    height: 35px;
    width: auto;
    margin-right: 10px;
}

/* 페이지네이션 css */
.qna_pagination{
    text-align: center;
}
.paging-btn{
    
}

/* 버튼css */
.right-buttons{
    text-align: right;
}
.right-buttons>button{
    background-color: #00ff88;
    color: white;
    border:none;
}


/* 모달 css */
.private-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.private-content div {
    background: white;
    padding: 20px;
    border-radius: 8px;
    color:black;
}
.private-content input[type="password"] {
    padding: 5px;
    color:black;
    background-color: #e6e6e6;
    width: 381px;
    margin-bottom: 10px;
}
