.QnABody, .QnAWriteBody{
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 1200px;
    color:white;
}
@media(max-width:577px){
    .QnABody{
        min-width: 577px;
    }
}
/* 상단 info css */
.totalRecord-info{  
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.tr-right-info{
    display: flex;
    font-size: 1.2em;
}
.tr-right-info div{
    color:#FFE700;
}

/* 테이블 css */
.QnaTable td, .QnaTable th{
    background-color: transparent !important;
    border-collapse : collapse !important;
    font-size: 1em;
    border-bottom: none;
    text-align: center;
}
.QnaTable th{
    cursor: pointer;
}
.QnaTable{
    white-space:nowrap;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}
.QnaTable thead th{
    font-size: 1.1em;
    font-weight:bolder;
}

/* 게시글 제목 css */
.qna_ht_th{
    display: flex;
}
.qna_ht{
    color: #00FF9C;
}
.qna_ht_th a:link, .qna_ht_th a:hover,.qna_ht_th a:visited {
    color: white;
}
.qna_pwt{
    cursor: pointer;
}

/* 검색키 css */
.qnaSearchSelect{
    appearance: none;
    width: 100px;
    height: 35px;
    font-size: 1em;
    padding: 5px;
    margin-right: 10px;
    white-space:nowrap;
    border-radius: 5px;
    text-align: center;
}
/* 검색창 css */
.searchForm input[type="text"]{
    height: 35px;
    max-width: 180px;
    width: 100%;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}


/* 버튼css */
.right-buttons{
    text-align: right;
}
.right-buttons>button{
    padding: 10px;
    background-color: #00FF9C;
    color: #2E5B2B;
    border:none;
    border-radius: 5px;
    font-weight: 900;
    
}


/* 모달 css */
.private-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.private-content div {
    background: white;
    padding: 20px;
    border-radius: 8px;
    color:black;
}
.private-content input[type="password"] {
    padding: 5px;
    color:black;
    background-color: #e6e6e6;
    width: 381px;
    margin-bottom: 10px;
}

.qna_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* 페이지네이션 css */
.paging-btn {
    background-color: #B6FFA1; /* 버튼 배경색 */
    border: none;
    border-radius: 5px;
    color: #2E5B2B; /* 글자색 */
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: 900;
}

.paging-btn:disabled {
    background-color: #ccc; /* 비활성화 시 색상 */
    cursor: not-allowed;
    opacity: 0.6; /* 비활성화 시 투명도 조절 */
}

.paging-btn:not(:disabled):hover {
    background-color: #A3E885; /* 호버 시 색상 */
    transform: scale(1.05); /* 호버 시 크기 증가 */
}

.paging-btn:not(:disabled):active {
    background-color: #8DDC6B; /* 클릭 시 색상 */
    transform: scale(0.95); /* 클릭 시 크기 감소 */
}