/* form css */
.QnAWriteform, .QnAEditform{
    text-align: center;
    width: 100%;
}
/* form 상단 div css */
.qna_titleArea{
    /* width: 100%; */
    min-width: 400px;
    max-width: 860px;
    display: flex;
    justify-content: left;
    margin: 0 auto;
    padding: 0;
}
/* 글 제목 css */
.qna_title{
    background-color:rgb(245, 245, 247);
    color: #323232;
    padding: 10px;
    border-bottom: 0.5px solid gray;
    border-radius: 10px;
    width: 100%;
    min-width: 400px;
}
.qna_title::placeholder{
    color:rgb(158, 158, 158);
}
/* 카테고리 css */
.head_title{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: rgb(245, 245, 247);
    border: none;
    color: #323232;
    padding: 10px;
    border-bottom: 0.5px solid gray;
    border-radius: 10px;
    min-width: 200px;
}
.head_title option{
    color: black;
}
/* 글 내용 css */
.qna_content{
    margin: 10px auto;
    max-width: 860px;
    height: 400px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}
/* 비밀글 설정 css */
.privacy-select{
    text-align: left !important;
    max-width: 860px;
    margin: 0 auto;
}
.privacy-select input[type='radio']{ /* radio 형식 안보이게 */
    display: none;
}
.qna-radio-label {
    cursor: pointer;
    margin: 20px 10px 20px 0;
  }
.qna-custom-radio{
    background-color: rgb(182, 255, 161);
    color: #2E5B2B;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 900;
}
input[type="radio"]:checked + .qna-custom-radio {
    background-color: #17be57;
  }
.qna_pwd_box input{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(245, 245, 247);
    width: 280px;
}

/* 이미지 업로더 css */
.imgUploader-box{
    max-width: 860px;
    margin: 0 auto;
}
/* 이미지 미리보기 css */
.image-preview{
    max-width: 860px;
    margin: 0 auto;
}
/* HTML: <img class="film-strip" src="" alt=""> */
.film-strip {
    --s: 6px; /* control the size */
    --c: rgb(245, 245, 247);
   
    width: calc(20*var(--s));
    aspect-ratio: 1.25;
    background: 
      conic-gradient(at 50% var(--s),var(--c) 75%,#807e7e00 0) 
      0 0/calc(2*var(--s)) calc(100% - var(--s)) padding-box;
    border: var(--s) solid var(--c);
    padding: calc(var(--s)*2) calc(var(--s)*1.5);
    box-sizing: content-box;
    
  }
/* 저장 버튼 css */
.qw-right-buttons{
    text-align: right;
    max-width: 860px;
    margin: 0 auto;
}
.qw-right-buttons button{
    padding: 10px;
    background-color: #00FF9C;
    color: #2E5B2B;
    border:none;
    border-radius: 5px;
    font-weight: 900;
}

/* form 반응형 */
@media(max-width:512px){
    .qna_titleArea{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
    }
    .head_title{
        margin-top: 10px;
    }
    .qna_content{
        width: 80%;
    }
}

