.resetPage{
    height: 80vh;
}

.resetPage>.container{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color : white;
    height: 100%;
}
.resetform{
    margin: 10px 0;
    padding : 20px 15px 30px;
}
.form-group{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.rest_button{
    text-align: center;
}