.community_list {
    background-color: white;
}

.community_list .list_header{
    height: 80px;
    display: flex;
    align-items: center;
}
.community_list .my_image{
    border-radius: 50px;
    border: 1px solid gray;
    width: 50px;
    height: 50px;
}
.community_list .search{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: gray;
}
.community_list .my_name{
    width: 100px;
}
.community_list .alt{
    font-size: 40px;
}
.community_list .write{
    border-radius: 20px;
}