/* src/components/NavigationBar.css */
a {color: #f1f1f1; text-decoration: none; outline: none}
 a:hover, a:active {text-decoration: none; color:#c2c2c2; }
input{
  border-width: 0;
}
input:focus {
  outline: none;
}
.home_nav{
  position:fixed;
  top: 0px;
  left: 0px;
  background-color: #111113;
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 100vh;
  z-index: 3;
  padding: 12px 40px;
}
.home_nav .logo{
  height: 32px;

}
.home_nav .tab{
  margin-top: 30px;
  width: 100%;

}
.home_nav .tab>div{
  padding: 10px;
}

.nav_hide{
  display: none;
  transform: translateX(-150px);
}
.close_box{
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 230px; 
  width: 110vw;
  height: 110vh;
  background: #141517c7;
}
.nav_show{
  animation: slidenav 0.3s ease forwards;
}
@keyframes slidenav {
  from{
    transform: translateX(-200px);
  }
  to{
    transform: translateX(0px);
  }
}
.Header{
  position: fixed;
  top: 0px;
  background-color: #1C1C20;
  width:100%;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 100;
  min-width: 1220px;
}
.Header .left-info{
  display: flex;
  align-items: center;
  color: #f1f1f1;
  height: 100%;
  width: 50%;
}
.Header .tab{
  height: 100%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  gap: 30px;
}
/*  */
.Header .tab a:hover{
  color: #48d1cdea;
  font-weight: bold;
}
.Header .tab a:focus{
  color: #f1f1f1;
  font-weight: bolder;
}
/*  */
.Header .tab >div:hover{
  border-bottom: 2px solid #727272;
}
.Header .tab >.focus{
  color: #48d1cdea;
}
.Header .tab >div{
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
}
.Header .under_line{
  position: absolute;
  bottom: 0px;
  height: 2px;
  background-color: #48d1cdea;
  transition: left 0.3s, width 0.3s;
}

.Header .right-info{
  display: flex;
  align-items: center;

}
.Header .right-info>*{
  margin-left: 20px;
}
.Header .search{
  display: flex;
  align-items: center;
  background-color: #343441;
  padding: 5px 20px;
  border-radius: 10px;
  height: 40px;
  width: 300px;
}
.Header .search input{
  background-color: #343441;
  color: #f1f1f1;
}

.Header .login_btn a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  background:none;
  border: 1px solid #f1f1f1;
}
.Header .login_btn a:hover{
  color:#1C1C20;
  font-weight: bold;
  background-color: #f1f1f1;
}
.Header .join_btn a{
  color: #48d1cdea;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px;
  height: 40px;
  padding: 5px 10px;  
  border-radius: 5px;
  background:none;
}
.Header .join_btn{
  color: #48d1cdea;
  font-weight: bold;
  border: 1px solid #48d1cdea;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80px;
  height: 40px;
  padding: 5px 10px;  
  border-radius: 5px;
  background:none;
}

.Header .join_btn a:hover{
  color: #f1f1f1;
  font-weight: bold;
}
.Header .join_btn:hover{
  color: #f1f1f1;
  font-weight: bold;
  background-color: #48d1cdea; 
}
.nav-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display:flex;
    justify-content:center ;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
    z-index: 1; 
    border-bottom-right-radius: 100px;
    font-family: 'Material Symbols Outlined';
  }

  .nav1{
    width: 25%; 
    display:flex;
    justify-content:center;  
   
  }

  .Logo{
    
   width: 55px;  height: 50px;
  }

 
  
  .nav2 {
    width: 50%;
    
  }

 .nav2 ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap:10%
    
  }
  .nv-user{
    /*로그인시 나오는 얼굴*/
    width: 35px;
   

  }




  .nav3{
    width: 30%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:10%;
  

    
  }

  .nav3 a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1.3rem;
  }

  
 .search-icon{
    color: #f1f1f1;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin:0 auto;
  }

  .search-icon:hover{
    color:lightseagreen;
  }

  .nav-bar a:hover{
    color: lightseagreen;
  }
  
  
  .nav-bar a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.4rem;
  }

  .auth-button{
    font-size: 1.3rem;
  }

  .search-icon-button{
    background: rgba(29, 29, 29, 0.11);
   width: 1px;
   height: 1px;
   text-align: center;
   margin-top: -35px;
   border:none;
  }